*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    max-width: 100vw;
    background-color: var(--azul-escuro);
}
html{
    background-color: var(--branco);
    scroll-behavior: smooth;
}
:root{
    --branco: #F0F1F5;
    --azul-escuro: #112233;
    --verde: #66CC99;
    --azul-claro:#44BBFF;
    --vermelho:#FC575E;
}